body {
  width: 600px;
  padding: 20px 30px 10px 30px;
}

#popup {
  padding: 10px;
}

#icon {
  height: 48px;
  width: 48px;
}

#messages {
  margin: 10px;
  padding: 5px;
}

.job-container {
  margin: 5px;
}

.job-name {
  margin-right: 10px;
}

.build-checkbox {
  padding-right: 10px;
}

.settings-link {
  margin-top: 10px;
}
